.carousel-inner{
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: rgb(255, 217, 0);
    border-style: solid;
}

.bg-modal{
    width: 101%;
    height:144%;
    background-color:rgba(0,0,0,0.7);
    display:flex;
    position:absolute;
    top:0;
    right:0%;
    justify-content:center;
    align-items:center;
    display:none
}
.modal-content{
    height:600px;
    width:300px;
    background-color: grey;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
    border: 10px;
    border-color: black;
    position:relative;
}

.close{
    position:absolute;
    top:370px;
    right:570px;
    font-size:50px;
    transform:rotate(45deg);
    color:black;
    cursor:pointer;
}

.hr{
    color:black;
    border-radius: 5px;
    border-color: black;
}

.headertext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}